.env
/AutoHotkey/audio
/AutoHotkey/elevenlabsRecordings.csv
AutoHotkey/ElevenLabs/elevenlabsRecordings.csv
/AutoHotkey/ElevenLabs/audio
/eyegazers-proof-of-concept/.env
/eyegazers-proof-of-concept/node_modules
